<header class=" container">
    <div class="header-container">
        <div class="nav-container">
            <nav class="hidden-nav-container">
                <ul class="nav-list">
                    <li class="nav-link">
                        <a class="home-link section-title js-home-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-link">
                        <a class="fav-link section-title js-fav-link" href="./favorites.html">Favorites</a>
                    </li>
                </ul>
            </nav>
        </div>
        <a class="logo" href="/index.html"><span class="logo-span section-title">tasty</span>treats.</a>
        <div class="header-img">
            <a href="tel:+380730000000">
                <svg class="header-tray" width="24" height="24">
                    <use href="/img/icon.svg#icon-purchase"></use>
                </svg>
            </a>
            <div class="js-burger-menu" id=data-burger-menu-opener>
                <svg class="header-menu" width="32" height="32">
                    <use href="/img/icon.svg#icon-menu"></use>
                </svg>
            </div>
            <div class="switcher-img">
                <div class=" switcher-bc">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="backdrop is-hidden" id=data-burger-menu>
        <div class=".js-burger-menu burger-menu">
            <svg class="js-close-menu close-burger-menu" width="32" height="32" id="data-mobile-menu-closed">
                <use href="/img/icon.svg#icon-cross"></use>
            </svg>
            <ul class="burger-list">
                <a class="burger-home-link section-title" href="/index.html">Home</a>
                <a class="burher-fav-link section-title" href="/favorites.html">Favorites</a>
            </ul>
            <div class="switcher">
                <div class="switcher-bc">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider"></span>
                </div>
            </div>
        </div>
    </div>
</header>