<ul class="test-list js-dish-page-favorite">
  <li class="js-open-dish" data-id="6462a8f74c3d0ddd28897fc1"></li>
  <li class="js-open-dish" data-id="6462a8f74c3d0ddd28898040"></li>
  <li class="js-open-dish" data-id="6462a8f74c3d0ddd28897fb8"></li>
  <li class="js-open-dish" data-id="6462a8f74c3d0ddd28897fbc"></li>
</ul>

<ul class="test-list js-dish-page-button">
  <li class="item js-open-dish" data-id="6462a8f74c3d0ddd28897fc1">
    <button class="btn js-open-dish-button" type="button"></button>
  </li>
  <li class="item js-open-dish" data-id="6462a8f74c3d0ddd28898040">
    <button class="btn js-open-dish-button" type="button"></button>
  </li>
  <li class="item js-open-dish" data-id="6462a8f74c3d0ddd28897fb8">
    <button class="btn js-open-dish-button" type="button"></button>
  </li>
  <li class="item js-open-dish" data-id="6462a8f74c3d0ddd28897fb8">
    <button class="btn js-open-dish-button" type="button"></button>
  </li>
</ul>
