<section class="hero">
  <div class="container hero-parts">
    <!-- 1st part -->

    <div class="hero-text">
      <h class="hero-title">
        Learn to Cook <span class="title-part">Tasty Treats'</span> Customizable
        Masterclass
      </h>
      <p class="title-description">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="button" type="">Order now</button>
    </div>

    <!-- 2nd part -->
    <div class="hero-masterclass">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            Slide 1

            <div class="chief">
              <img class="chief-avatar" src="" alt="chief" />
            </div>

            <div class="preview">
              <img class="preview-img" src="" alt="preview" />
              <h2 class="dish-title">Grilled, smoky, delicious barbecue</h2>
              <p class="dish-origin">Spanish</p>
            </div>

            <div class="dish">
              <img class="dish-img" src="" alt="dish" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
