<section class="hero">
  <div class="container hero-parts">
    <!-- 1st part -->

    <div class="hero-text">
      <h1 class="hero-title">
        Learn to Cook <span class="title-part">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="title-description">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <a href="tel:+380730000000">
        <button class="hero-button" type="">Order now</button>
      </a>
    </div>

    <!-- 2nd part -->
    <div class="hero-masterclass">
          
      <img class="img-chief" srcset="./img/hero/chief.png 1x, ./img/hero/chief-2x.png 2x" src="./img/hero/chief.png" alt="chief" />
         
      <img class="img-preview" srcset="./img/hero/dish-1.png 1x, ./img/hero/dish-1-2x.png 2x" src="./img/hero/dish-1.png" alt="preview" />
          
      <img class="img-dish" srcset="./img/hero/dish-2.png 1x, ./img/hero/dish-2-2x.png 2x" src="./img/hero/dish-2.png" alt="dish" />
            
    </div>
  </div>
</section>