<section class="filter">
    <div class="container container-filter">
        <div class="filter-container-loader">
            <p class="loader filter-loader" ></p>
        </div>
        <form id="searchForm" hidden>
            <div class="filters-containers">
                <div class="filter-container filter-container-search">
                    <label class="filter-label text" for="search">Search</label>
                    <input class="filter-input filter-search" placeholder="Enter Text" type="text" id="search" name="search">
                    <svg class="filter-icon-search">
                        <use href="./img/icon.svg#icon-search"></use>
                    </svg>
                </div>
                <div class="filter-container">
                    <label class="filter-label text" for="time">Time</label>
                    <select class="filter-input filter-time" id="time" name="time">
                        <option data-placeholder="true"></option>
                        <option value="10">10 min</option>
                        <option value="20">20 min</option>
                        <option value="30">30 min</option>
                        <option value="40">40 min</option>
                        <option value="50">50 min</option>
                        <option value="60">60 min</option>
                    </select>
                </div>
                <div class="filter-container">
                    <label class="filter-label text" for="area">Area</label>
                    <select class="filter-input filter-area" id="area" name="area">
                        <option data-placeholder="true"></option>
                    </select>
                </div>
                <div class="filter-container">
                    <label class="filter-label text" for="ingredients">Ingredients</label>
                    <select class="filter-input filter-ingredients" id="ingredients" name="ingredients">
                        <option data-placeholder="true"></option>
                    </select>
                </div>
                <div class="clear-button" id="clearButton">
                    <svg class="clear-button-icon">
                        <use href="./img/icon.svg#icon-cross"></use>
                    </svg>
                    <p class="clear-button-text text">Reset the filter</p>
                </div>
            </div>
        </form>
    </div>

</section>