.header {
  padding: 20px 20px;
  background-color: var(--color-white);
}

.logo{
  color: var(--color-black2);
  margin-right: 182px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 217px;
  } 
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 399px;
  }
}

.logo-span{
  color: var(--color-green);
}

.home-link{
  color: var(--color-green);
}

.fav-link{
  color: var(--color-black2);
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
      display: none;
    }
}

@media screen and (min-width: 768px) {
  .nav-container {
    padding-right: 203px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-container {
    padding-right: 391px;
  }
}

.header-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 85px;
}

.header-img{
  display: flex;
  align-items: center;
  gap: 14px;
}


.header-menu{
  stroke: var(--color-black);
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .switcher-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-img {
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .header-img {
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 22px 0px;
  }
}

/* Menu */

.burger-menu{
  background-color: var(--color-green);
  height: 100vh;
  width: 200px;
  
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .burger-menu {
      display: none;
    }
}


.close-burger-menu{
  stroke: var(--color-white);
  position: absolute;
  top: 20px;
  right: 20px;
}

.burger-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 200px;
  color: var(--color-white);
  font-family: Inter 500;
}

.switcher-burger-menu{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.burger-home-link{
  color: var(--color-white);
  font-family: 'Inter-500';
}

.burger-fav-link{
  color: var(--color-white);
  font-family: 'Inter-500';
}