.header {
  padding: 20px 20px;
  background-color: var(--color-white);
}

.logo{
  color: var(--color-black);
}

.logo-span{
  color: var(--color-green);
}

.home-link{
  color: var(--color-green);
}

.fav-link{
  color: var(--color-black);
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
      display: none;
    }
}

.header-container{
  display: flex;
  align-items: center;
  gap: 162px;
  margin-top: 20px;
  margin-bottom: 85px;
}

.header-img{
  display: flex;
  gap: 14px;
}

.header-menu{
  stroke: var(--color-black);
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .switcher-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    gap: 203px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    gap: 391px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-img {
    display: flex;
    align-items: center;
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .header-img {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 40px 80px;
  }
}