.header {
  padding: 20px 20px;
  background-color: var(--color-gray);
  position: relative;
}

.logo{
  color: var(--color-black2);
  margin-right: 160px;
  font-size: 18px;
  font-family: 'Inter-600';
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 207px;
  } 
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 389px;
  }
}

.logo-span{
  color: var(--color-green);
}

.home-link{
  color: var(--color-green);
  font-weight: 400;
}

.fav-link{
  color: var(--color-black2);
  font-weight: 500;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
      display: none;
    }
}

@media screen and (min-width: 768px) {
  .nav-container {
    padding-right: 193px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-container {
    padding-right: 371px;
  }
}

.header-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 85px;
}

.header-img{
  display: flex;
  align-items: center;
  gap: 14px;
  padding-right: 20px;
}

.header-menu{
  stroke: var(--color-black);
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .switcher-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-img {
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .header-img {
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 22px 0px;
  }
}

/* Menu */

    .backdrop {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(75, 56, 21, 0.6),
          rgba(75, 56, 21, 0.6));;
      opacity: 1;
      transition: visibility var(--transition-duration),
        opacity var(--transition-duration);
    }
  
    .backdrop.is-hidden {
      opacity: 0;
      visibility: hidden;
    }

.burger-menu{
    background-color: var(--color-green);
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: visibility var(--transition-duration),
        opacity var(--transition-duration);
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
}

.close-burger-menu{
  stroke: var(--color-white);
  position: absolute;
  top: 20px;
  right: 20px;
}

.burger-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 200px;
  color: var(--color-white);
  font-family: Inter 500;
}

.switcher{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.burger-home-link{
  color: var(--color-white);
  font-family: 'Inter-500';
}

.burger-fav-link{
  color: var(--color-white);
  font-family: 'Inter-500';
}

/* switcher */
.switcher-bc{
  width: 46px;
  height: 20px;
  background-color: var(--color-gray);
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.switch-input{
  height: 0;
  width: 0;
  opacity: 0;

}

.switch-slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #CECDCD;
  border-radius: 34px;
}

.switch-slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 2px;
  height: 16px;
  width: 20px;
  background-color: var(--color-gray);
  border-radius: 34px;
}

.switch-input:checked + .switch-slider{
  background-color: var(--color-green);
}

.switch-slider::before{
  transform: translateX();
}