.hero {
  padding: 80px 0 80px 0;
}

.hero-parts {
  display: flex;
}

.hero-text {
  margin-bottom: 48px;
}

.hero-title {
  max-width: 335px;
  display: block;
  color: var(--color-black2);
  font-family: 'Inter-600';
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.title-part {
  color: #9bb537;
  font-family: 'Inter-400';
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.title-description {
  max-width: 335px;
  color: var(--color-black2);
  font-family: 'Inter-400';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 16px;
}

.button {
  color: #050505;
  font-family: 'Inter-500';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 32px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #9bb537;
  background-color: transparent;
}

.preview {
  background-color: #050505;
  padding: 10px 24px 50px;
}

.hero-masterclass {
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.img-chief {
  width: 80px;
  height: 280px;
  border-radius: 15px;
}

.img-preview {
  width: 200px;
  height: 280px;
  border-radius: 15px;
}

.img-dish {
  width: 200px;
  height: 280px;
  border-radius: 15px;
}


@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 36px;
  }

  .title-description {
    font-family: 16px;
  }

  .img-chief {
    width: 140px;
    height: 442px;
  }

  .img-preview {
    width: 350px;
    height: 442px;
  }

  .img-dish {
    width: 350px;
    height: 442px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-parts {
    flex-direction: row !important;
    gap: 32px;
  }
}