.test-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.js-open-dish,
.item {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: rgb(76, 82, 74);
}
