.filters-container {
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 14px;
}

.filter-container {}

.filter-container-loader {
    position: absolute;
    top: 150px;
    left: 250px;
}

.filter-loader-hidden {
    display: none;
    visibility: hidden;
}

.filter-label {
    display: block;
    margin-bottom: 8px;
}

.filter-input {
    padding: 14px 18px;

    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.20);
}

.clear-button {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: right;
    gap: 0 4px;
}

.clear-button-text {
    font-weight: 500;
}

.filters-container {
    margin-bottom: 14px;
}

.clear-button-icon {
    width: 16px;
    height: 16px;
    stroke: var(--color-green);
}