/* 
TODO: font to :root
TODO: @media for container paddings
TODO: 2 types of grey for dark and light
*/

.fav-hero-container {
  background-image: url(/img/favorites/favorites_hero_mobile.avif);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 516px;
  border-radius: 15px;
  margin: 0 auto 40px;
  display: none;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/img/favorites/favorites_hero_mobile@2x.avif);
  }

  @media only screen and (min-width: 768px) {
    width: 704px;
    height: 356px;
    background-image: url(/img/favorites/favorites_hero_tablet.avif);
    display: flex;
    align-items: flex-start;
    gap: 12px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/img/favorites/favorites_hero_mobile@2x.avif);
    }
  }

  @media only screen and (min-width: 1280px) {
    width: 1080px;
    height: 356px;
    background-image: url(/img/favorites/favorites_hero_desktop.avif);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/img/favorites/favorites_hero_desktop@2x.avif);
    }
  }
}

.fav-categories {
  width: 100%;
  /* display: flex; */
  display: none;
  gap: 12px;
  font-family: Inter;
  margin-bottom: 24px;
  margin-right: auto;
  overflow: hidden;

  @media only screen and (min-width: 768px) {
    gap: 15px;
  }
}

.fav-category {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29em;
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.cat-active {
  color: #f8f8f8;
  border-radius: 15px;
  border: 1px solid var(--color-green);
  background: #9bb537;
}

.cat-active:hover,
.cat-active:focus {
  color: var(--color-black);
  background: #9bb537;
}

.cat-inactive {
  color: rgba(5, 5, 5, 0.3);
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.cat-inactive:hover,
.cat-inactive:focus {
  color: var(--color-white);
  border: 1px solid var(--color-green);
  background: #9bb537;
}

/* Recipes rendering */

.fav-recipes {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .fav-recipes {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .fav-recipes {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px 16px;
  }
}

.fav-none {
  color: var(--color-text);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29em;
  vertical-align: middle;
  margin-top: 50vh;
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .fav-none {
    width: 481px;
    margin: 0 auto;
    transform: none;
    font-size: 16px;
    line-height: 1.5em; /* 150% */
  }
}

.fav-none-icon {
  margin-bottom: 24px;
}

/* Main container for Favorites */
.favorites {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

@media only screen and (min-width: 375px) {
  .favorites {
    max-width: 375px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .favorites {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .favorites {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  width: 400px;
  border: 1px solid #9bb537;
}
