.reting-overlay-modal {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-image: linear-gradient(rgba(5, 5, 5, 0.5), rgba(5, 5, 5, 0.5));

  width: 100%;
  height: 100%;

  opacity: 0;
  /* visibility: hidden; */
  z-index: 100;

  transition: var(--standard-transition);
}

.overlay.active,
.modal.active {
  opacity: 1;
  /* visibility: visible; */
}

.reting-modal {
  /* Basic styles */
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);

  padding: 28px 20px;

  width: 100%;
  max-width: 335px;
  height: auto;
  overflow: scroll;

  border-radius: 15px;

  background-color: var(--color-white);
  /* opacity: 0; */
  /* visibility: hidden; */
  z-index: 101;

  transition: var(--standard-transition);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-modal {
    padding: 48px;

    max-width: none;
    width: 609px;
  }
}

.reting-modal-close-btn {
  /* Basic styles */
  position: absolute;
  top: 14px;
  right: 14px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  padding: 0;

  background: none;
  border: none;

  stroke: var(--color-black2);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-modal-close-btn {
    top: 24px;
    right: 24px;

    width: 28px;
    height: 28px;
  }
}

.reting-modal-close-btn:hover,
.reting-modal-close-btn:focus {
  /* background-color: var(--button-hover-color); */
  background-color: #9bb537;
  stroke: var(--color-white);

  transition-property: fill;
  transition: var(--standard-transition);
}

.reting-modal-close-icon {
  /* Basic styles */
  width: 100%;
  height: 100%;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-modal-close-icon {
    width: 28px;
    height: 28px;
  }
}

.reting-modal-title {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.22;
  /* text-transform: uppercase; */
}

.reting-form-input {
  width: 335px 582px;
  margin-top: 4px;
  /* back ground: url(/img/icon.svg#icon-star); */
}

.reting-form-star {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reting-number {
}

.reting-list {
  /* Basic styles */
  /* margin-bottom: 18px; */

  display: flex;
  gap: 5px;
  fill: #d9d9d9;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-list-personal {
    flex-wrap: nowrap;
  }
}

.reting-modal-star-icon {
  cursor: pointer;

  width: 24px;
  height: 24px;
  padding: 0;

  /* background: none;
  border: none; */

  /* stroke: var(--color-black2); */
}

.reting-item-personal {
  width: 100%;
}

.star-rating__input {
  display: none;
}

.star-rating__ico:focus,
.star-rating__ico:hover {
  fill: var(--color-yellow);
}

/* .star-rating__ico:hover:before,
.star-rating__ico:hover ~ .b-star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
  stroke: gold;
} */

.reting-modal-label {
  /* Basic styles */
  display: block;

  color: var(--color-solihth-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-modal-label {
    font-size: 14px;
    line-height: 1.28;
  }
}

/* .reting-modal-form-area {
  position: relative;
  margin-bottom: 18px;
} */

.reting-modal-form-input,
.reting-modal-form-comment,
.reting-button-submit {
  /* display: none; */
  width: 100%;
  max-width: 295px;
  /* height: 46px; */

  /* border-radius: 15px; */
  border: 1px solid rgba(5, 5, 5, 0.2);

  padding-left: 18px;
  margin-top: 24px;

  /* border: 1.5px solid var(--slider-marker-color); */
  /* filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03)); */
  border-radius: 16px;

  outline: transparent;

  transition: border-color;
  transition-duration: 250ms;
  font-size: 14px;
  line-height: 1.21;

  transition-timing-function: var(--standard-transition);

  font-size: 14px;
  line-height: 1.21;
  color: var(--color-logo-ligt);
}

.reting-modal-form-input {
  /* Basic styles */
  height: 46px;

  /* font-size: 14px;
  line-height: 1.21;

  color: var(--color-logo-ligt); */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-modal-form-input {
    height: 66px;
    padding-left: 24px;

    /* border-radius: 16px; */

    font-size: 18px;
    line-height: 1.22;
  }
}

.reting-item {
  max-width: 295px;
  height: 46px;

  /* border-radius: 15px; */
  border: 1px solid rgba(5, 5, 5, 0.2);
}

/* .reting-modal-form-area  */
.reting-phon {
  /* Basic styles */
  /* padding-left: 106px; */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  /* .reting-modal-form-area */
  .reting-phon {
    /* padding-left: 177px; */
  }
}

.reting-modal-form-comment {
  /* Basic styles */
  resize: none;
  display: block;
  height: 100px;
  /* margin-bottom: 18px; */

  /* padding-left: 16px;
  padding-top: 8px; */

  /* font-size: 14px;
  line-height: 1.21; */

  /* border-radius: 15px; */
  /* border: 1px solid rgba(5, 5, 5, 0.2); */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-modal-form-comment {
    /* height: 163px;
    padding-left: 24px;
    padding-top: 22px;

    border-radius: 13px;

    font-size: 18px;
    line-height: 1.22; */
  }
}

.reting-modal-form-input:focus,
.reting-modal-form-comment:focus {
  border-color: var(--color-social-icon);
}

.reting-button-submit {
  /* Basic styles */
  display: block;
  /* width: 109px; */
  height: 46px;

  padding: 0;

  cursor: pointer;

  background-color: var(--color-green);
  /* border-radius: 100px; */
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--color-white);

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .reting-button-submit {
    width: 133px;
    height: 45px;
  }
}
.reting-button-submit:hover,
.reting-button-submit:focus {
  /* background-color: var(--button-hover-color); */

  color: var(--color-black2);
}

.reting-modal-is-hidden {
  opacity: 1;
  /* visibility: hidden; */
}
