.recipe-card-container {
  max-width: 335px;
  height: 335px;
  background: linear-gradient(
    1deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  position: relative;
  padding: 16px;
  flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
  .recipe-card-container {
    width: 224px;
    height: 244px;
  }
}
@media only screen and (min-width: 1280px) {
  .recipe-card-container {
    width: 258px;
    height: 287px;
  }
}

.recipe-card-title {
  font-family: 'Inter-600';
  font-size: 14px;
  line-height: 1.28em;
  text-align: left;
  width: auto;
  margin-bottom: 8px;
  color: #f8f8f8;
  text-transform: uppercase;
}

.recipe-card-text {
  font-family: 'Inter-400';
  font-size: 12px;
  line-height: 1.33em;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.recipe-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-rating {
  font-family: 'Inter-500';
  color: #f8f8f8;
  font-size: 14px;
  line-height: 1.28em;
  margin-right: 4px;
}

.recipe-icon-rating {
  fill: #f8f8f8;
  fill-opacity: 0.1;
}

@media only screen and (min-width: 768px) {
  .recipe-icon-rating {
    width: 12px;
  }
}
.active-recipe-icon {
  fill: var(--color-yellow);
  fill-opacity: 1;
}

.recipe-icon-heart {
  position: absolute;
  right: 16px;
  top: 16px;
  fill: #d9d9d9;
  opacity: 50%;
  border: 2px;
  stroke: #f8f8f8;
}

.recipe-btn {
  padding: 8px 14px;
  border-radius: 8px;
  background-color: var(--color-green);
  /* width: 93px; */
  /* height: 31px; */
  font-size: 12px;
  line-height: 1.21em;
  border: none;
  color: #f8f8f8;
  margin-left: auto;
}

.recipe-card-item {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
}

.recipe-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
