/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./00-main.css');
@import url('./01-header.css');
@import url('./02-introduction.css');
@import url('./03-categories.css');
@import url('./04-popular-recips.css');
@import url('./05-filter.css');
@import url('./06-dishes.css');
@import url('./07-menu.css');
@import url('./08-dish-page.css');
@import url('./09-favorites.css');
@import url('./10-loader.css');
@import url('./11-recipe-card.css');
@import url('./11-modal-reting.css');
@import url('./12-scroll-up-button.css');

:root {
  --color-green: #9bb537;
  --color-yellow: #eea10c;
  --color-black: #1e1e1e;
  --color-black2: #050505;
  --color-white: #ffffff;
  --color-text: rgba(5, 5, 5, 0.8);
  --color-solihth-text: rgba(5, 5, 5, 0.5);
  --color-gray: #f8f8f8;
  --color-text: rgba(5, 5, 5, 0.8);
  --color-solihth-text: rgba(5, 5, 5, 0.5);
  --color-light-text: rgba(5, 5, 5, 0.3);
  --color-light-border: rgba(5, 5, 5, 0.2);
  --color-border-grey: rgba(255, 255, 255, 0.2);
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Inter-300';
  src: url('../fonts/Inter-Light.eot');
  src: url('../fonts/Inter-Light.woff2') format('woff2'),
    url('../fonts/Inter-Light.woff') format('woff'),
    url('../fonts/Inter-Light.ttf') format('truetype'),
    url('../fonts/Inter-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-400';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-500';
  src: url('../fonts/Inter-Medium.eot');
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype'),
    url('../fonts/Inter-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-600';
  src: url('../fonts/Inter-SemiBold.eot');
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.ttf') format('truetype'),
    url('../fonts/Inter-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-700';
  src: url('../fonts/Inter-Bold.eot');
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype'),
    url('../fonts/Inter-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  font-family: 'Inter-400';
  background-color: var(--color-gray);
}

.container {
  padding: 0 20px;
  min-width: 320px;
  flex-direction: column;
}

.title {
  font-family: 'Inter-600';
  font-size: 14px;
  line-height: 1.28;
}

.text {
  font-family: 'Inter-400';
  font-size: 12px;
  line-height: 1.16;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
